.input {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  background-color: var(--input);
  padding: 10px 14px;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: all 0.2s ease-out;

  &:focus {
    background-color: var(--input-focus);
  }
}

.error {
  border: 2px solid var(--error);
}
